<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - NFTMarket</title>
    <div th:replace="fragment/adminPanel::header-links"></div>
</head>

<body class="sb-nav-fixed">
  
  <!-- navbar top -->
  <div th:replace="fragment/adminPanel::navbar-up"></div>
  
    <div id="layoutSidenav">
  <!-- side navbar -->
		<div th:replace="fragment/adminPanel::sidenav"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                <!-- breadcrumb -->
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Dashboard</li>
                        <li class="breadcrumb-item active">collection</li>
                    </ol>
                    <!-- body of the panel contain of content and tables ------------------------------------------>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table "></i>
                            collection table
                        </div>
						<!-- this is for the edit page -->
						<form th:action="@{/admin/collection/create}" th:if="${collection!=null}">
                        <div class="card-body" >
                           <input type="text" th:field="${collection.name}" name="name" placeholder="name" >
                           <input type="text" th:field="${collection.creator}" name="creator" placeholder="creator" >
                           <input type="text" th:field="${collection.creator_img}" name="creator_img" placeholder="creator_img" >
                           <input type="text" th:field="${collection.cover}" name="cover" placeholder="cover" >
                        </div>
                        </form>
						<!--  this is for the adding product -->
						<form action="@{/admin/collection/create}" th:if="${collection==null}">
                        <div class="card-body" >
                           <input type="text" name="name" placeholder="name" >
                           <input type="text" name="creator" placeholder="creator" >
                           <input type="text" name="creator_img" placeholder="creator_img" >
                           <input type="text" name="cover" placeholder="cover" >
                        </div>
                        <a th:href="@{/admin/collection/create}" class="btn btn-primary m-3">save</a>
						
						</form>
                    </div>
<!--                     ----------------------------------------------------------------------------------------------------- -->
                </div>
            </main>
            <div th:replace="~{'fragment/adminPanel' :: footer-adminPanel}"></div>
        </div>
    </div>
     <div th:replace="fragment/adminPanel::script"></div>
</body>

</html>