<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - NFTMarket</title>
    <div th:replace="fragment/adminPanel::header-links"></div>
</head>

<body class="sb-nav-fixed">
  
  <!-- navbar top -->
  <div th:replace="fragment/adminPanel::navbar-up"></div>
  
    <div id="layoutSidenav">
  <!-- side navbar -->
		<div th:replace="fragment/adminPanel::sidenav"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                <!-- breadcrumb -->
                    <ol class="breadcrumb mb-4 p-2 m-1">
                        <li class="breadcrumb-item active">Dashboard</li>
                        <li class="breadcrumb-item active">collection</li>
                    </ol>
                    <!-- body of the panel contain of content and tables ------------------------------------------>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table "></i>
                            collection table
                        </div>
                        <div class="card-body">
                        <a th:href="@{/admin/collection/add}" class="btn btn-primary m-3">Add New </a>
                            <table class="table table-striped text-center" >
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>creator</th>
                                        <th>Name</th>
                                        <th>Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="collections : ${collections}">
                                        <td th:text="${collections.getId()}"></td>
                                        <td th:text="${collections.getCreator()}"></td>
                                        <td th:text="${collections.getName()}"></td>
                                        <td><a href=""><i class="fa fa-times text-danger"></i></a></td>
                                        <td><a th:href="@{/admin/collection/edit/{id}(id=${collections.getId()})}"><i class="fa fa-edit"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
<!--                     ----------------------------------------------------------------------------------------------------- -->
                </div>
            </main>
           <div th:replace="~{'fragment/adminPanel' :: footer-adminPanel}"></div>
        </div>
    </div>
    
    
     <div th:replace="fragment/adminPanel::script"></div>
</body>

</html>