<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - NFTMarket</title>
    <div th:replace="fragment/adminPanel::header-links"></div>
</head>

<body class="sb-nav-fixed">
  
  <!-- navbar top -->
  <div th:replace="fragment/adminPanel::navbar-up"></div>
  
    <div id="layoutSidenav">
  <!-- side navbar -->
		<div th:replace="fragment/adminPanel::sidenav"></div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                <!-- breadcrumb -->
                    <ol class="breadcrumb mb-4 p-2 m-1">
                        <li class="breadcrumb-item active">Dashboard</li>
                        <li class="breadcrumb-item active">products</li>
                    </ol>
                    <!-- body of the panel contain of content and tables ------------------------------------------>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table "></i>
                            product inputs
                        </div>
						<!-- this is for the edit page -->
                        <div class="card-body" th:if="${product!=null}">
                        <div class="row">
	                        <div class="col-6">
	                        <img th:src="'/img/' + ${product.img}" th:alt="${product.img}" width="100px"/>
	                        </div>
	                     </div>
                        <form th:action="@{/admin/editProductParams}" method="post" enctype="multipart/form-data">
                         <div class="row">
	                        <div class="col-6">
	                        <label>image</label><br>
	                        <input type="file" name="file"  />
	                        </div>
	                      </div>
	                      <input type="hidden"  name="id"  th:field="${product.id}">
                        <div class="row">
	                        <div class="col-6">
	                        	<label>name</label><br>
	                            <input type="text" placeholder="name" name="product_name" class="w-100" th:field="${product.product_name}">
	                        </div>
	                        <div class="col-6">
	                         <label>price</label><br>
	                            <input type="number" placeholder="price" name="price" class="w-100" th:field="${product.price}">
	                        </div>
                        </div>
                        <div class="row">
	                        <div class="col-6">
	                        	<label>collection</label><br>
	                            <select class="w-100 p-1" name="collection">
	                            <option>choose one of collections</option>
	                            <option th:each="optionsCollection : ${optionsCollection}" th:value="${optionsCollection.id}" th:text="${optionsCollection.name}" ></option>
	                            </select>
	                        </div>
	                        <div class="col-6">
	                         <label>category</label><br>
	                          <select class="w-100 p-1" name="category">
	                          <option>choose one of categories</option>
	                            <option th:each="optionsCategory : ${optionsCategory}" th:value="${optionsCategory.id}" th:text="${optionsCategory.title}" ></option>
	                          </select>
	                        </div>
                        </div>
                        <div class="row">
	                        <div class="col-12">
	                            <label>description</label><br>
	                            <textarea type="text" placeholder="description" name="description" class="w-100" row="5" th:field="${product.description}"></textarea>
	                        </div>
                        </div>
                         <div class="row mt-2">
	                        <div class="col-6">
	                        <input type="submit" value="save" class="btn btn-primary w-100"/>
	                        </div>
	                        <div class="col-6">
	                        	<a class="btn btn-danger w-100" th:href="@{/admin/products}">cancel</a>
	                        </div>
	                     </div>
<!--                          <div class="row mt-2"> -->
<!-- 	                        <div class="col-6"> -->
<!-- 	                        <input type="submit" value="save changes" class="btn btn-primary"/> -->
<!-- 	                        </div> -->
<!-- 	                        <div class="col-6"> -->
<!-- 	                        <input type="submit" value="cancel" class="btn btn-danger"/> -->
<!-- 	                        </div> -->
<!-- 	                     </div> -->
                        </form>
                        </div>
						<!--  this is for the adding product -->
                        <div class="card-body" th:if="${product==null}">
                        <form th:action="@{/admin/products/save}" method="post" enctype="multipart/form-data">
                         <div class="row">
	                        <div class="col-6">
	                        <label>image</label><br>
	                        <input type="file" name="file" />
	                        </div>
	                      </div>
                        <div class="row">
	                        <div class="col-6">
	                        	<label>name</label><br>
	                            <input type="text" placeholder="name" name="product_name" class="w-100">
	                        </div>
	                        <div class="col-6">
	                         <label>price</label><br>
	                            <input type="number" placeholder="price" name="price" class="w-100">
	                        </div>
                        </div>
                        <div class="row">
	                        <div class="col-6">
	                        	<label>collection</label><br>
	                            <select class="w-100 p-1" name="collection">
	                             <option value="0">choose one of collections</option>
	                            <option th:each="optionsCollection : ${optionsCollection}" th:value="${optionsCollection.id}" th:text="${optionsCollection.name}" ></option>
	                            </select>
	                        </div>
	                        <div class="col-6">
	                         <label>category</label><br>
	                          <select class="w-100 p-1" name="category">
	                          <option value="0">choose one of categories</option>
	                          <option th:each="optionsCategory : ${optionsCategory}" th:value="${optionsCategory.id}" th:text="${optionsCategory.title}" ></option>
	                          </select>
	                        </div>
                        </div>
                        <div class="row">
	                        <div class="col-12">
	                            <label>description</label><br>
	                            <textarea type="text" placeholder="description" name="description" class="w-100" row="5"></textarea>
	                        </div>
                        </div>
                           <div class="row mt-2">
	                        <div class="col-6">
	                        <input type="submit" value="save" class="btn btn-primary w-100"/>
	                        </div>
	                        <div class="col-6">
	                        	<a class="btn btn-danger w-100" th:href="@{/admin/products}">cancel</a>
	                        </div>
	                     </div>
<!--                          <div class="row mt-2"> -->
<!-- 	                        <div class="col-5"> -->
<!-- 	                        <input type="submit" value="save" class="btn btn-primary"/> -->
<!-- 	                        </div> -->
<!-- 	                     </div> -->
                        </form>
                        </div>
                    </div>
<!--                     ----------------------------------------------------------------------------------------------------- -->
                </div>
            </main>
            <div th:replace="~{'fragment/adminPanel' :: footer-adminPanel}"></div>
        </div>
    </div>
     <div th:replace="fragment/adminPanel::script"></div>
</body>

</html>