<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="fragment/layout::header-links"></div>
</head>
<body>
   <div th:replace="fragment/layout::navbar"></div>
      <!-- -------------------------------------------------- -->
      <div class="w-100 d-flex justify-content-end mb-5">
          <div style="height: 328px;width: 100%;" class="position-relative" >
            <svg style="width: 100%;height: auto;" viewBox="0 0 1332 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 196.141L55.5 222.293C111 248.445 222 300.749 333 307.287C444 313.825 555 274.597 666 222.293C777 169.989 888 104.608 999 98.0703C1110 91.5323 1221 143.837 1276.5 169.989L1332 196.141V0H1276.5C1221 0 1110 0 999 0C888 0 777 0 666 0C555 0 444 0 333 0C222 0 111 0 55.5 0H0V196.141Z" fill="#3771FE"/>
            </svg>            
          </div>
          <div class="w-50 position-absolute d-flex justify-content-center">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).webp" style="border: 1px solid #fff;margin: 10px;" alt="" class="card-img-top p-3 rounded-circle w-50 ">
              <a href="" class="position-absolute bg-color" style="border-radius: 50px; z-index: 3; bottom: 0; font-size: 30px;width: 50px;text-align: center;"><i class="fa fa-camera text-white"></i></a>
          </div>
    </div>
    <!-- -------------------------------------------------- -->
      <div class="container">
        <div class="row text-white mb-5">
            <div class="col-4 list-group">
                <button type="button" class="list-group-item list-group-item-action bg-uploadbox "><i class="fa fa-user text-white"></i> Profile Information</button>
                <button type="button" class="list-group-item list-group-item-action bg-color "><i class="fa fa-lock text-white"></i> Change Password</button>
                <button type="button" class="list-group-item list-group-item-action bg-color "><i class="fa fa-bell text-white"></i> Notification</button>
                <button type="button" class="list-group-item list-group-item-action bg-color "><i class="fa fa-file-image text-white"></i> My Gallery</button>
            </div>
            <div class="col-8">
                <h3>Wellcome Admin!</h3>
                <hr style="height:1px;border-width:0;color:gray;background-color:gray;">
                <form class="w-75 mb-4 mt-4">
                    <label class="text-white"><i class="fa fa-user text-white"></i> Name<i class=" text-danger">*</i></label>
                    <input type="search" placeholder="For Example : john" aria-describedby="button-addon2" class="form-control border-0 bg-uploadbox">
                    <br>
                    <label class="text-white"><i class="fa fa-user text-white"></i> Last Name<i class=" text-danger">*</i></label>
                    <input type="search" placeholder="For Example : lee" aria-describedby="button-addon2" class="form-control border-0 bg-uploadbox">
                    <br>
                    <label class="text-white"><i class="fa fa-user text-white"></i> Username<i class=" text-danger">*</i></label>
                    <input type="search" placeholder="For Example : john-lee" aria-describedby="button-addon2" class="form-control border-0 bg-uploadbox">
                    <br>
                    <label class="text-white"><i class="fa fa-lock text-white"></i> Password<i class=" text-danger">*</i></label>
                    <input type="password" placeholder="For Example :123456" aria-describedby="button-addon2" class="form-control border-0 bg-uploadbox">
                    <br>
                    <label class="text-white"><i class="fa fa-envelope text-white"></i> Email<i class=" text-danger">*</i></label>
                    <input type="search" placeholder="For Example : john-lee@gmail.com" aria-describedby="button-addon2" class="form-control border-0 bg-uploadbox">
                    <br>
                    <label class="text-white"><i class="fa fa-phone text-white"></i> Phone<i class=" text-danger">*</i></label>
                    <input type="search" placeholder="For Example : 854-458-457" aria-describedby="button-addon2" class="form-control border-0 bg-uploadbox">
                    <br>
                    <label class="text-white"><i class="fa fa-map-pin text-white"></i> Address<i class=" text-danger">*</i></label>
                    <input type="search" placeholder="For Example : canada-street-4" aria-describedby="button-addon2" class="form-control border-0 bg-uploadbox">
                    <br>
                    <label class="text-white"><i class="fa fa-map-pin text-white"></i> Gender<i class=" text-danger">*</i></label>
                      <select type="search" placeholder="email" aria-describedby="button-addon2" class="form-control border-0 bg-uploadbox">
                        <option selected>choose your Gender</option>
                        <option >select one thing</option>
                        <option value="0">male</option>
                        <option value="1">female</option>
                    </select>
                    <br>
                    <label class="text-white"><i class="fa fa-user text-white"></i> Bio<i class=" text-danger">*</i></label>
                    <textarea type="search" placeholder="For Example : I am john ..." aria-describedby="button-addon2" rows="5" class="form-control border-0 bg-uploadbox"></textarea>
                    <br>


                   <input type="submit" value="save changes" class="btn bg-btn text-white" /><br>
                   </form>
                   <hr style="height:1px;border-width:0;color:gray;background-color:gray;">
            </div>
          </div>
       </div>

      <!-- -------------------------------------------------- -->
<div th:replace="fragment/layout::footer"></div>
</body>
</html>