<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="fragment/layout::header-links"></div>
</head>
<div>
   <div th:replace="fragment/layout::navbar"></div>
      <!-- ---------------------title----------------------------- -->
      <div class="container mt-5 mb-5">
        <div class="d-flex flex-row">
          <div class="w-100">
            <h3 class="text-white text-center mb-5">marketplace</h3><br>
          </div>
        </div>
      </div>
        <!-- -------------------------------------------------- -->
        <div class="container mt-5">
            <div class="d-flex flex-row">
              <div class="w-50">
                <a th:href="@{/productsList}" class="btn text-white  text-left m-1 p-1 b-radius w-25 text-center">NFTs <small class="text-muted">485548</small></a>
                <a th:href="@{/collectionList}" class="btn text-white  text-left m-1 p-1 b-radius w-25 text-center">Collections <small class="text-muted">485548</small></a>
                <a th:href="@{/artists}" class="btn text-white  text-left m-1 p-1 b-radius w-25 text-center">creator <small class="text-muted">485548</small></a>
              </div>
              <div class="w-50 text-right text-white">
                <small class="text-muted">sort by price </small>
              </div>
            </div>
            <hr style="height:1px;border-width:0;color:gray;background-color:gray">
            <div class="row text-white mt-5">

              <div class="col-lg-4 mb-4 ">
                <div class="card bg-uploadbox b-radius">
                    <a href="" class="btn text-white disabled text-left m-2 p-1 bg-secondary b-radius w-50 text-center">14.5 k <i class="far fa-heart text-danger"></i></a>
                  <img src="https://i.pinimg.com/564x/37/08/74/370874b7dac2bcff5dd87eb1cc32e522.jpg" alt="" class="card-img-top p-3">
                  <div class="card-body">
                    <h5 class="card-title">Sunset</h5>
                    <p class="card-text">Lorem ipsum dolor </p>
                    <div class="d-flex flex-row">
                        <small class="text-white">Heights bid </small><small class="txt-btn"> 0.074 ETH</small>
                    </div> 
                    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                    <a href="" class="btn btn-outline-light text-left b-radius">Bid History</a>
                    <a href="" class="btn bg-btn text-white text-right b-radius">place a bid</a>
                  </div>
                 </div>
                 </div>
                 <div class="col-lg-4 mb-4 ">
                 <div class="card bg-uploadbox b-radius">
                    <a href="" class="btn text-white disabled text-left m-2 p-1 bg-secondary b-radius w-50 text-center">14.5 k <i class="far fa-heart text-danger"></i></a>
                  <img src="https://i.pinimg.com/564x/37/08/74/370874b7dac2bcff5dd87eb1cc32e522.jpg" alt="" class="card-img-top p-3">
                  <div class="card-body">
                    <h5 class="card-title">Sunset</h5>
                    <p class="card-text">Lorem ipsum dolor </p>
                    <div class="d-flex flex-row">
                        <small class="text-white">Heights bid </small><small class="txt-btn"> 0.074 ETH</small>
                    </div> 
                    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                    <a href="" class="btn btn-outline-light text-left b-radius">Bid History</a>
                    <a href="" class="btn bg-btn text-white text-right b-radius">place a bid</a>
                  </div>
                  </div>
                  </div>
                  <div class="col-lg-4 mb-4 ">
                  <div class="card bg-uploadbox b-radius">
                    <a href="" class="btn text-white disabled text-left m-2 p-1 bg-secondary b-radius w-50 text-center">14.5 k <i class="far fa-heart text-danger"></i></a>
                  <img src="https://i.pinimg.com/564x/37/08/74/370874b7dac2bcff5dd87eb1cc32e522.jpg" alt="" class="card-img-top p-3">
                  <div class="card-body">
                    <h5 class="card-title">Sunset</h5>
                    <p class="card-text">Lorem ipsum dolor </p>
                    <div class="d-flex flex-row">
                        <small class="text-white">Heights bid </small><small class="txt-btn"> 0.074 ETH</small>
                    </div> 
                    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                    <a href="" class="btn btn-outline-light text-left b-radius">Bid History</a>
                    <a href="" class="btn bg-btn text-white text-right b-radius">place a bid</a>
                  </div>
                  </div>
                  </div>
           </div>
        </div>

         <!-- -------------------------------------------------- -->
  <div th:replace="fragment/layout::footer"></div>
</body>
</html>