<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="fragment/layout::header-links"></div>
</head>
<body>
   <div th:replace="fragment/layout::navbar"></div>
      <!-- -------------------------------------------------- -->
      <div class="w-100 d-flex justify-content-end mb-5">
          <div style="height: 328px;width: 100%;" class="position-relative" >
            <svg style="width: 100%;height: auto;" viewBox="0 0 1332 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 196.141L55.5 222.293C111 248.445 222 300.749 333 307.287C444 313.825 555 274.597 666 222.293C777 169.989 888 104.608 999 98.0703C1110 91.5323 1221 143.837 1276.5 169.989L1332 196.141V0H1276.5C1221 0 1110 0 999 0C888 0 777 0 666 0C555 0 444 0 333 0C222 0 111 0 55.5 0H0V196.141Z" fill="#3771FE"/>
            </svg>            
          </div>
          <div class="w-50 position-absolute d-flex justify-content-center">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).webp" style="border: 1px solid #fff;margin: 10px;" alt="" class="card-img-top p-3 rounded-circle w-50 ">
              <a href="" class="position-absolute bg-color" style="border-radius: 50px; z-index: 3; bottom: 0; font-size: 30px;width: 50px;text-align: center;"><i class="fa fa-camera text-white"></i></a>
          </div>
    </div>
    <!-- -------------------------------------------------- -->
    <div class="container mt-5 mb-5">
        <div class="d-flex flex-column justify-content-center">
          <div class="w-100 text-center text-white">
            <h3 class="text-white text-center mb-5">john-lee</h3>
            <small class="b-radius bg-uploadbox text-white text-center w-50 text-muted" >
                <i class="fa fa-wallet text-primary"></i> sdfiwlskdfjiowkekdfsd64f651sd321f </small>
            <hr><h5>604 <small class="text-muted">followers - </small>2 <small class="text-muted">followings</small></h5>
          </div><br>
          <div class="d-flex flex-row justify-content-center ">
            <a href="" class="b-radius bg-uploadbox text-white text-center w-auto pl-2 pr-2 m-1">
                <h6>follow</h6>
            </a>
            <a href="" class="b-radius bg-uploadbox text-white text-center w-auto pl-2 pr-2 m-1">
                <h6>send messaes</h6>
            </a>
            <a href="" class="b-radius bg-uploadbox text-white text-center w-auto pl-2 pr-2 m-1">
                <h6>share</h6>
            </a>
          </div>
        </div>
    </div>
    <!---------------------------------------->
    <div class="container mt-5">
        <div class="d-flex flex-row">
          <div class="w-100 d-flex flex-row justify-content-center">
            <a href="" class="btn text-white  text-left m-1 p-1 b-radius w-25 text-center">on sale <span class="badge badge-primary">40</span></a>
            <a href="" class="btn text-white  text-left m-1 p-1 b-radius w-25 text-center">Collections <span class="badge badge-primary">25</span></a>
            <a href="" class="btn text-white  text-left m-1 p-1 b-radius w-25 text-center">created <span class="badge badge-primary">12</span></a>
          </div>
        </div>
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <div class="row text-white mt-5">
            <div class="col-lg-4 mb-4 ">
                <div class="card bg-uploadbox b-radius">
                    <a href="" class="btn text-white disabled text-left m-2 p-1 bg-secondary b-radius w-50 text-center">14.5 k <i class="far fa-heart text-danger"></i></a>
                  <img src="https://i.pinimg.com/564x/6a/aa/01/6aaa01a2dee8c1427d64675785919ad1.jpg" alt="" class="card-img-top p-3">
                  <div class="card-body">
                    <h5 class="card-title">Sunset</h5>
                    <p class="card-text">Lorem ipsum dolor </p>
                    <div class="d-flex flex-row">
                        <small class="text-white">Heights bid </small><small class="txt-btn"> 0.074 ETH</small>
                    </div> 
                    <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                    <a href="" class="btn btn-outline-light text-left b-radius">Bid History</a>
                    <a href="" class="btn bg-btn text-white text-right b-radius">place a bid</a>
                  </div>
                 </div>
                </div>
                <div class="col-lg-4 mb-4 ">
                  <div class="card bg-uploadbox b-radius">
                      <a href="" class="btn text-white disabled text-left m-2 p-1 bg-secondary b-radius w-50 text-center">14.5 k <i class="far fa-heart text-danger"></i></a>
                    <img src="https://i.pinimg.com/564x/37/08/74/370874b7dac2bcff5dd87eb1cc32e522.jpg" alt="" class="card-img-top p-3">
                    <div class="card-body">
                      <h5 class="card-title">Sunset</h5>
                      <p class="card-text">Lorem ipsum dolor </p>
                      <div class="d-flex flex-row">
                          <small class="text-white">Heights bid </small><small class="txt-btn"> 0.074 ETH</small>
                      </div> 
                      <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                      <a href="" class="btn btn-outline-light text-left b-radius">Bid History</a>
                      <a href="" class="btn bg-btn text-white text-right b-radius">place a bid</a>
                    </div>
                   </div>
                  </div>
                  <div class="col-lg-4 mb-4 ">
                    <div class="card bg-uploadbox b-radius">
                        <a href="" class="btn text-white disabled text-left m-2 p-1 bg-secondary b-radius w-50 text-center">14.5 k <i class="far fa-heart text-danger"></i></a>
                      <img src="https://i.pinimg.com/564x/17/95/d7/1795d7417f526dcfb1bbe21617640b35.jpg" alt="" class="card-img-top p-3">
                      <div class="card-body">
                        <h5 class="card-title">Sunset</h5>
                        <p class="card-text">Lorem ipsum dolor </p>
                        <div class="d-flex flex-row">
                            <small class="text-white">Heights bid </small><small class="txt-btn"> 0.074 ETH</small>
                        </div> 
                        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                        <a href="" class="btn btn-outline-light text-left b-radius">Bid History</a>
                        <a href="" class="btn bg-btn text-white text-right b-radius">place a bid</a>
                      </div>
                     </div>
        </div>
        
    </div>
    <div class="w-100 d-flex flex-row justify-content-center mb-5">
        <a href="" class="b-radius bg-uploadbox text-white bg-btn text-center w-auto border pl-2 pr-2 m-1 w-50 border-0">
            <small>see more <i class="fa fa-spinner"></i></small>
        </a>
    </div>
    </div>
      <!-- -------------------------------------------------- -->
 <div th:replace="fragment/layout::footer"></div>
</body>
</html>