<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <!-- header links --> 
<head th:fragment="header-links">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/all.css}">
<link rel="stylesheet" th:href="@{/css/adminStyle.css}" />
<link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
</head>
<!-- header links -->
<body >
<!-- the nav  -->
<div th:fragment="navbar-up">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <i class="fa fa-user"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-dark" th:href="@{/productsList}">Settings</a>
                <a class="dropdown-item text-dark" th:href="@{/collectionList}">log Activity</a>
                <a class="dropdown-item text-dark" th:href="@{/artists}">log out</a>
              </div>
            </li>
        </ul>
    </nav>
</div>
<!-- side nav -->
<div th:fragment="sidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" th:href="@{/admin}">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Interface</div>
                        <a class="nav-link collapsed" th:href="@{/admin/users}" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                            user details
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
<!--                         <DIV CLASS="COLLAPSE" ID="COLLAPSELAYOUTS" ARIA-LABELLEDBY="HEADINGONE" -->
<!--                             DATA-BS-PARENT="#SIDENAVACCORDION"> -->
<!--                             <NAV CLASS="SB-SIDENAV-MENU-NESTED NAV"> -->
<!--                                 <A CLASS="NAV-LINK" HREF="LAYOUT-STATIC.HTML">STATIC NAVIGATION</A> -->
<!--                                 <A CLASS="NAV-LINK" HREF="LAYOUT-SIDENAV-LIGHT.HTML">LIGHT SIDENAV</A> -->
<!--                             </NAV> -->
<!--                         </DIV> -->
                        <a class="nav-link collapsed" th:href="@{/admin/products/}" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                            Products
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <a class="nav-link collapsed" th:href="@{/admin/collections/}" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
                            Collections
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                         <a class="nav-link collapsed" th:href="@{/admin/categories/}" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                            Categories
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                          <a class="nav-link collapsed" th:href="@{/admin/authorities/}" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-lock"></i></div>
                            Authorities
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
<!--                         <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" -->
<!--                             data-bs-parent="#sidenavAccordion"> -->
<!--                             <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages"> -->
<!--                                 <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" -->
<!--                                     data-bs-target="#pagesCollapseAuth" aria-expanded="false" -->
<!--                                     aria-controls="pagesCollapseAuth"> -->
<!--                                     Authentication -->
<!--                                     <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div> -->
<!--                                 </a> -->
<!--                                 <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" -->
<!--                                     data-bs-parent="#sidenavAccordionPages"> -->
<!--                                     <nav class="sb-sidenav-menu-nested nav"> -->
<!--                                         <a class="nav-link" href="login.html">Login</a> -->
<!--                                         <a class="nav-link" href="register.html">Register</a> -->
<!--                                         <a class="nav-link" href="password.html">Forgot Password</a> -->
<!--                                     </nav> -->
<!--                                 </div> -->
<!--                                 <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" -->
<!--                                     data-bs-target="#pagesCollapseError" aria-expanded="false" -->
<!--                                     aria-controls="pagesCollapseError"> -->
<!--                                     Error -->
<!--                                     <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div> -->
<!--                                 </a> -->
<!--                                 <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" -->
<!--                                     data-bs-parent="#sidenavAccordionPages"> -->
<!--                                     <nav class="sb-sidenav-menu-nested nav"> -->
<!--                                         <a class="nav-link" href="401.html">401 Page</a> -->
<!--                                         <a class="nav-link" href="404.html">404 Page</a> -->
<!--                                         <a class="nav-link" href="500.html">500 Page</a> -->
<!--                                     </nav> -->
<!--                                 </div> -->
<!--                             </nav> -->
<!--                         </div> -->
<!--                         <div class="sb-sidenav-menu-heading">Addons</div> -->
<!--                         <a class="nav-link" href="charts.html"> -->
<!--                             <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div> -->
<!--                             Charts -->
<!--                         </a> -->
<!--                         <a class="nav-link" href="tables.html"> -->
<!--                             <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div> -->
<!--                             Tables -->
<!--                         </a> -->
                    </div>
                </div>
            </nav>
        </div>
</div>

<div th:fragment="footer-adminPanel">
<footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; By safeparadise</div>
                        <div>
                        </div>
                    </div>
                </div>
</footer>
</div>


     <!-- -------------------------------------------------- -->
     <div th:fragment="script">
	      <script>
	        window.addEventListener('DOMContentLoaded', event => {
	            // Toggle the side navigation
	            const sidebarToggle = document.body.querySelector('#sidebarToggle');
	            if (sidebarToggle) {
	                sidebarToggle.addEventListener('click', event => {
	                    event.preventDefault();
	                    document.body.classList.toggle('sb-sidenav-toggled');
	                    localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
	                });
	            }
	
	        });
	
	    </script>
	    <script th:src="@{/js/jquery.js}"></script>
	    <script th:src="@{/js/proper.js}"></script>
	    <script th:src="@{/js/bootstrap.min.js}"></script>
	</div>
</body>
</html>